{% extends "layout.html" %}
{% block body %}
            <div class="layout center vertical">
              <paper-card heading="Please sign-in">
                <form id="form" method="post" action="/auth/password">
                  <input
                    id="csrf_token"
                    type="hidden"
                    name="csrf_token"
                    value="{{csrf_token}}" />
                  <paper-input
                    type="email"
                    id="lemail"
                    name="email"
                    autocomplete="username"
                    label="email"
                    error-message="at least email format, please"
                    auto-validate></paper-input>
                  <paper-input
                    id="lpassword"
                    type="password"
                    name="password"
                    autocomplete="current-password"
                    label="password"
                    pattern=".{4,32}"
                    error-message="4-32 letters please"
                    auto-validate
                    required></paper-input>
                  <div class="layout horizontal around-justified buttons">
                    <button type="submit" id="pwsignin" class="hidden" name="button">
                      <paper-button raised>Sign In</paper-button>
                    </button>
                  </div>
                </form>
                <div class="layout horizontal center-justified">
                  <span>or</span>
                </div>
                <div id="gsignin">
                  <img src="images/google_signin.png" />
                </div>
              </paper-card>
            </div>{% endblock %}
