{% extends "layout.html" %}
{% block body %}
            <div class="layout center vertical">
              <template is="dom-if" if="[[!cmaEnabled]]">
                <p>Credential Management API is not available on your browser.
                Try <a href="https://www.google.com/chrome/">Google Chrome 49 or
                later</a> and enable the flag at
                chrome://flags/#enable-credential-manager-api .
                </p>
              </template>
              <paper-card heading="Sign-up now!">
                <form id="regForm" method="post" action="/register">
                  <input id="csrf_token" type="hidden" name="csrf_token" value="{{csrf_token}}" />
                  <paper-input id="name" name="name" label="Your name" autocomplete="name">
                  </paper-input>
                  <paper-input id="email" name="email" label="Your email address" autocomplete="username">
                  </paper-input>
                  <paper-input id="password" type="password" name="password" label="Password" autocomplete="new-password">
                  </paper-input>
                  <div class="layout horizontal around-justified">
                    <button type="submit" class="hidden" name="button">
                      <paper-button raised>Register</paper-button>
                    </button>
                  </div>
                </form>
                <div class="layout horizontal center-justified">
                  <span>or</span>
                </div>
                <div id="gsignin">
                  <img src="images/google_signin.png" />
                </div>
                <div id="fbsignin">
                  <img src="images/facebook_signin.png" />
                </div>
              </paper-card>
            </div>{% endblock %}
